$pre-font-default: 'D-DIN';
$global-font-family: $pre-font-default;
$pre-heading-font-family-h1: $pre-font-default;


$pre-colors: (
	primary: #DD3D3D,
	secondary: #ddd,
);

$pre-link-color-default: red;